body {
    display: flex;
    justify-content: center;
    
    padding: 0;
    margin: 150px;
}

.container {
    background-color: #352F44;
    width: 400px;
    height: 600px;
    display: flex;
    padding-bottom: 20px;
    padding-top: 12px;
    flex-wrap: wrap;
    border-radius: 7px;
    
    
    
}

.btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 7px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    background: #B9B4C7;
    padding: 10px 20px 10px 20px;
    border: solid #000000 1px;
    text-decoration: none;
    height: 57px;
    width: 47px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    
  }

  .btn:hover {
    background: #b7c1c7;
    text-decoration: none;
  }

  .display {
    background-color: #5C5470;
    width: 400px;
    border-radius: 7px;
    margin: 20px;
    height: 125px;
    display: flex;
    justify-self: center;
    justify-content: end;
    flex-direction: column;
    align-items: end;
  }

  .container1,
  .container2,
  .container3,
  .container4,
  .container5 {
    display: flex;
    width: 400px;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .AC,
  .DEL {
    background-color: #ffa500;
  }

  .equals {
    width: 137px;
    background-color: #352F44;
    color: white;
    border: solid white 1px;
    
  }

  .displaySum,
  .displayTotal {
    text-align: right;
    color: #B9B4C7;
    margin-right: 20px;
    
    
  }

.displaySum {
  margin-bottom: -7px;

}